<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='card'>
        <div class='card-header card-header-primary'>
          <h4 class='card-title '>Garagem </h4>
          <div class='add' routerLink='/garagem/incluir'> <i class='material-icons add-icon' style='font-size:5em'>
              add_circle </i> </div>
        </div>
        <div class='card-body'>
          <div class='table-responsive'>
            <table class='table'>
              <thead class=' text-primary'>
                <tr>
                  <th><b>Código</b></th>
                  <th><b>Nome</b></th>
                  <td width='90'><b>Opções</b></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let garagem of garagens '>
                  <td>Nº {{garagem?.id_garagem}}</td>
                  <td>{{garagem?.nome}}</td>
                  <td> {{garagem?.nome_garagem}}</td>
                  <td>{{garagem?.telefone}}</td>
                  <td>{{garagem?.cpf}} </td>
                  <td>
                    <i style='padding-right: 5px;cursor: pointer' class='fa fa-search' aria-hidden='true' routerLink='/garagem/detalhar/{{garagem?.id_garagem}}'></i>
                    <i style='padding-right: 5px;cursor: pointer' class='fa fa-pencil-square-o' aria-hidden='true'
                      routerLink='/garagem/alterar/{{garagem?.id_garagem}}'></i>
                    <i style='padding-right: 5px;cursor: pointer' class='fa fa-minus-square' aria-hidden='true' (click)='excluir(garagem)'></i>

                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf='loader' class='loader'></div>