<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='card'>
        <div class='card-header card-header-primary'>
          <h4 class='card-title '>Suporte </h4>
          <p class='card-category'> Para alterar basta mudar os valores na linhas</p>
          <div class='add' routerLink='/suporte/incluir'> <i class='material-icons add-icon' style='font-size:5em'>
              add_circle </i> </div>
        </div>
        <div class='card-body'>
          <div class='table-responsive'>
            <table class='table'>
              <thead class=' text-primary'>
                <tr>
                  <th><b>Título</b></th>
                  <th><b>Subtítulo</b></th>
                  <th><b>Valor</b></th>
                  <th><b>Ativo/Inativo</b></th>
                  <td width='90'><b>Opções</b></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let suporte of suportes '>
                    <td> <input (change)="update(suporte)" type='text' #title [(ngModel)]='suporte.title'class='inputGrid' value="{{suporte?.title}}"></td>
                    <td> <input (change)="update(suporte)" type='text' #subtitle [(ngModel)]='suporte.subtitle'class='inputGrid' value="{{suporte?.subtitle}}"></td>
                    <td> <input (change)="update(suporte)" type='text' #value [(ngModel)]='suporte.value'class='inputGrid' value="{{suporte?.value}}"></td>
                    <td> {{suporte?.bo_ativo | BooleanMessage :'boativo' }} </td>

                  <td>
                    <i style='padding-right: 5px;cursor: pointer' class='fa fa-search' aria-hidden='true' routerLink='/suporte-detalhar/{{suporte?.id}}'></i>
                    <i style='padding-right: 5px;cursor: pointer' class='fa fa-pencil-square-o' aria-hidden='true'
                      routerLink='/suporte/alterar/{{suporte?.id}}'></i>
                    <i style='padding-right: 5px;cursor: pointer' class='fa fa-minus-square' aria-hidden='true' (click)='InativarSuporte(suporte)'></i>

                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf='loader' class='loader'></div>