<div class='row'>
  <div class='col-md-12'>
    <div class='card'>
      <div class='card-header card-header-primary'>
        <p class='card-category'>Adicionar</p>
        <!-- <input [textMask]="{mask: mask}" [(ngModel)]="myModel" placeholder="(555) 495-3947" type="text" required #ref/> -->
        <h4 class='card-title'>Saida</h4>
      </div>
      <div class='card-body'>
        <div class="row text-left">
          <div class='form-group is-empty col-md-6'>
            <label for='ds_saida'>Clientes</label>
            <app-input-container errorMessage='Campo obrigatório' label='observacao'>
              <select class='form-control' [(ngModel)]="idCliente">
                <option value="1" selected> ------------ selecionar cliente -------------</option>
                <option *ngFor="let cliente of clientes" (click)="addCliente(cliente.id)" value="{{cliente.id}}">
                  {{cliente.nome}}</option>
              </select>
            </app-input-container>
          </div>
          <div class='form-group is-empty col-md-2'>
            <label for='dividir'>Dividir</label>
            <app-input-container errorMessage='Campo obrigatório' label='dividir'>
              <select class='form-control' (click)="calculoTotal()" [(ngModel)]="dividir" [disabled]="pagamento == 'AVISTA' || pagamento == 'DEB' ">
                <option value="1" selected>1x</option>
                <option value="2">2x</option>
                <option value="3">3x</option>
                <option value="4">4x</option>
                <option value="5">5x</option>
                <option value="6">6x</option>
                <option value="7">7x</option>
                <option value="8">8x</option>
                <option value="9">9x</option>
                <option value="10">10x</option>
                <option value="11">11x</option>
                <option value="12">12x</option>
              </select>
            </app-input-container>
          </div>
          <div class='form-group is-empty col-md-4'>
            <label for='pagamento'>Tipo de pagamento</label>
            <app-input-container errorMessage='Campo obrigatório' label='pagamento'>
              <select class='form-control' [(ngModel)]="pagamento">
                <option *ngFor="let formas of formas_pagamento" value="{{formas?.abreviatura}}">{{formas?.ds_formapagamento}}</option>
              </select>
            </app-input-container>
          </div>
          <div class="col-md-12">
            <button (click)="getOption(1)" type="button" class="btn btn-secondary">Produto</button>
            <button (click)="getOption(2)" type="button" class="btn btn-secondary">Serviço</button>
          </div>

        </div>
          <ng-container *ngIf="option == 1; then thenTemplate; else elseTemplate"></ng-container>
          <ng-template #thenTemplate>
              <hr>
            <form [formGroup]='formProduto' novalidate>
              <div class='box-body'>
                <div class='row'>
                        <div class='form-group is-empty col-md-8'>
                          <label for='ds_produto'>Produto</label>
                          <app-input-container errorMessage='Campo obrigatório' label='observacao'>
                            <select class='form-control' formControlName='id_produto'>
                              <option value="" selected="selected"> ------------ selecionar produto ------------</option>
                              <option *ngFor="let produto of produtos"
                                (click)="addValor(produto.vl_venda,produto.ds_produto)" value="{{produto.id}}">
                                {{produto.ds_produto}}</option>
                            </select>
                          </app-input-container>
                        </div>
                        <div class='form-group is-empty col-md-4'>
                          <label for='qt_produto'>Qt. produto</label>
                          <app-input-container errorMessage='Campo obrigatório' label='qt_produto'>
                            <input class='form-control' formControlName='qt_produto' placeholder=''>
                          </app-input-container>
                        </div>

                        <div class='form-group is-empty col-md-4'>
                          <label for='vl_venda'>Valor do produto</label>
                          <app-input-container errorMessage='Campo obrigatório' label='vl_venda'>
                            <input type="text" value="{{vl_venda | currency :'BRL'}}" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',',align:'left' }" class='form-control'  formControlName='vl_venda' placeholder='R$ 0.00' >
                          </app-input-container>
                        </div>

                        <div class='is-empty col-md-4'>
                          <label for='vl_desconto'>Desconto R$</label>
                          <app-input-container errorMessage='Campo obrigatório' label='vl_desconto' >
                            <input class='form-control' currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',',align:'left' }" (ngModelChange)="calValorFinal(vl_desconto)" id="vl_desconto"
                              formControlName='vl_desconto' placeholder='0.00'>
                          </app-input-container>
                        </div>
                        <!-- <div class='is-empty col-md-4'>
                          <h3>{{vl_venda | currency :'BRL' }}</h3>
                        </div> -->
                </div>
              </div>
              <div class='box-footer'>
                <div class="row">
                  <div class="col-md-10">
                    <button type="button" (click)="getOption(0)" class="btn btn-danger">Cancelar</button>

                    <button (click)='addItem(formProduto.value)' [disabled]='!formProduto.valid'
                      class='btn btn-primary'>Adicionar
                      Produto</button>
                  </div>
                  <div class="col-md-2 btnFloatRight text-right">
                    <button (click)='save()' *ngIf="items.length > 0"
                      class='btn btn-primary btnFloatRight'>Salvar</button>
                  </div>
                </div>
              </div>
            </form>
        </ng-template>
        <ng-template #elseTemplate>
          <hr>
            <form [formGroup]='formService' novalidate>
              <div class='box-body'>
                <div class='row'>
                        <div class='form-group is-empty col-md-9'>
                          <label for='ds_servico'>Serviço</label>
                          <app-input-container errorMessage='Campo obrigatório' label='ds_servico'>
                            <input class='form-control' formControlName='ds_servico' placeholder=''>
                          </app-input-container>
                        </div>

                        <div class='form-group is-empty col-md-3'>
                          <label for='qt_produto'>Qt. Servico</label>
                          <app-input-container errorMessage='Campo obrigatório' label='qt_produto'>
                            <input class='form-control' formControlName='qt_produto' placeholder=''>
                          </app-input-container>
                        </div>
                        <div class='form-group is-empty col-md-4'>
                          <label for='vl_venda'>Valor R$</label>
                          <app-input-container errorMessage='Campo obrigatório' label='vl_venda'>
                            <input class='form-control' currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',',align:'left' }" formControlName='vl_venda' placeholder='0.00'>
                          </app-input-container>
                        </div>
                        <div class='form-group is-empty col-md-4'>
                          <label for='vl_desconto'>Desconto R$</label>
                          <app-input-container errorMessage='Campo obrigatório' label='vl_desconto'>
                            <input class='form-control' currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',',align:'left' }" formControlName='vl_desconto' placeholder='0.00' id="vl_desconto">
                          </app-input-container>
                        </div>
                        <div class='form-group is-empty col-md-4'>
                          <label for='dt_entrega'>Data de entrega</label>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <input matInput (focus)="picker.open()" [matDatepicker]="picker" class='form-control' formControlName='dt_entrega' placeholder=''>
                              <mat-datepicker #picker></mat-datepicker>
                        </div>
                        <div class='form-group is-empty col-md-12'>
                            <label for='ds_saida'>Descrição Saida</label>
                            <app-input-container errorMessage='Campo obrigatório' label='ds_saida'>
                              <textarea rows="3" class='form-control' formControlName='ds_saida' placeholder=''></textarea>
                            </app-input-container>
                          </div>
                      </div>
              </div>
              <div class='box-footer'>
                <div class="row">
                  <div class="col-md-10">
                    <button type="button" (click)="getOption(0)" class="btn btn-danger">Cancelar</button>
                    <button (click)='addServico(formService.value)' [disabled]='!formService.valid'
                      class='btn btn-primary'>Adicionar
                      Serviço</button>
                  </div>
                  <div class="col-md-2 btnFloatRight text-right">
                    <button (click)='save()' *ngIf="items.length > 0"
                      class='btn btn-primary btnFloatRight'>Salvar</button>
                  </div>
                </div>
              </div>
            </form>
        </ng-template>
        <hr>
        <div class="row">
          <div class="form-group col-md-12">
            <div class="card" *ngFor="let item of items">
              <ng-container *ngIf="item.id_produto > 0; then thenTemplate; else elseTemplate"></ng-container>
              <ng-template #thenTemplate>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-1">
                      <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11 text-right" (click)="removeItem(item)">
                      <i class="fa fa-times mouse" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-3">
                      <b>Produto:</b>
                      <pre>{{item.ds_produto}}</pre>
                    </div>
                    <div class="col-md-3">
                      <b>Qtd:</b><br />
                      <i (click)="atualizarQuantidade(item,false)" class="fa fa-minus-circle" aria-hidden="true"></i>
                      <b>{{item.qt_produto}}</b>
                     <i (click)="atualizarQuantidade(item,true)" class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-2">
                      <b>Desconto:</b>
                      <pre>{{item.vl_desconto | currency :'BRL'}}</pre>
                    </div>
                    <div class="col-md-2">
                      <b>Valor</b>
                      <pre>{{item.vl_venda | currency :'BRL'}}</pre>
                    </div>
                    <div class="col-md-2">
                      <b>Total:</b>
                      <pre>{{(item.qt_produto * item.vl_venda) - item.vl_desconto | currency :'BRL'}}</pre>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template #elseTemplate>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-1">
                      <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11 text-right" (click)="removeItem(item)">
                      <i class="fa fa-times mouse" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-3">
                      <b>Serviço:</b>
                      <pre>{{item.ds_servico}}</pre>
                    </div>
                    <div class="col-md-2">
                      <b>Qtd:</b>
                      <pre>{{item.qt_produto}}</pre>
                    </div>
                    <div class="col-md-2">
                      <b>Desconto:</b>
                      <pre>{{item.vl_desconto | currency :'BRL'}}</pre>
                    </div>
                    <div class="col-md-2">
                      <b>Valor</b>
                      <pre>{{item.vl_venda | currency :'BRL'}}</pre>
                    </div>
                    <div class="col-md-2">
                      <b>Total:</b>
                      <pre>{{(item.qt_produto * item.vl_venda) - item.vl_desconto | currency :'BRL'}}</pre>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
            <div *ngIf="items.length > 0">
              <div class="col-md-12 text-left">
                <span><b>Total Compra: </b> {{total | currency :'BRL'}}</span><br />
                <span><b>Desconto: </b> {{desc | currency :'BRL'}}</span><br />
                <span><b>Total: </b> {{totalDesc | currency :'BRL'}}</span><br />
                <span><b>Valor da parcela: </b> {{parc | currency :'BRL'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>