<div class='row'>
  <div class='col-md-12'>
    <div class='card'>
      <div class='card-header card-header-primary'>
        <p class='card-category'>Detalhar</p>
      </div>
      <!-- {{garagem | json}} -->
      <div class='card-body'>
        <div class='box-body'>
          <div class='row'>
            <div class='col-md-12'>
              <div class="row">
                <div class='form-group is-empty col-md-3 detalharLeft'>
                  <label for='nome_garagem'>Nome da garagem</label>
                  <p>{{garagem?.nome_garagem}}</p>
                </div>
                <div class='form-group is-empty col-md-3 detalharLeft'>
                  <label for='cnpj'>Proprietario</label>
                  <p>{{garagem?.nome}}</p>
                </div>
                <div class='form-group is-empty col-md-3 detalharLeft'>
                  <label for='ins_est'>CPF</label>
                  <p>{{garagem?.cpf}}</p>
                </div>
                <div class='form-group is-empty col-md-3 detalharLeft'>
                  <label for='razao_social'>Email</label>
                  <p>{{garagem?.email}}</p>
                </div>
                <div class='form-group is-empty col-md-3 detalharLeft'>
                  <label for='telefone'>Telefone</label>
                  <p>{{garagem?.telefone}}</p>
                </div>
                <div class='form-group is-empty col-md-3 detalharLeft'>
                  <label for='pessoa_contato'>Data de Criação</label>
                  <p>{{garagem?.created_at}}</p>
                </div>
                <div class='form-group is-empty col-md-6 detalharLeft'>
                  <label for='endereco'>Endereço</label>
                  <p>Logradouro: {{garagem?.logradouro}} Lote: {{garagem?.lote}} N° {{garagem?.num_imovel}} Quadra: {{garagem?.quadra}}</p>
                </div>
                <div class='form-group is-empty col-md-6 detalharLeft'>
                  <label for='endereco'>Cidade/UF</label>
                  <p>{{garagem?.cidade}}/{{garagem?.uf}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-2'></div>
  </div>