<div class='row'>
  <div class='col-md-12'>
    <div class='card'>
      <div class='card-header card-header-primary'>
        <p class='card-category'>Adicionar</p>
        <h4 class='card-title'>Garagem</h4>
      </div>
      <div class='card-body'>
        <form [formGroup]='form' novalidate>
          <div class='box-body'>
            <div class='row'>

              <div class='col-md-12'>
                <div class="row">
                  <div class='form-group is-empty col-md-4'>
                    <label for='nome_garagem'>Nome da Garagem</label>
                    <app-input-container errorMessage='Campo obrigatório' label='nome_garagem'>
                      <input class='form-control' formControlName='nome_garagem' placeholder=''>
                    </app-input-container>
                  </div>
                  <div class='form-group is-empty col-md-4'>
                    <label for='logradouro'>Logradouro</label>
                    <app-input-container errorMessage='Campo obrigatório' label='logradouro'>
                      <input class='form-control' formControlName='logradouro' placeholder=''>
                    </app-input-container>
                  </div>
                  <div class='form-group is-empty col-md-4'>
                    <label for='quadra'>Quadra</label>
                    <app-input-container errorMessage='Campo obrigatório' label='quadra'>
                      <input class='form-control' formControlName='quadra'>
                    </app-input-container>
                  </div>
                  <div class='form-group is-empty col-md-3'>
                    <label for='lote'>Lote</label>
                    <app-input-container errorMessage='Campo obrigatório' label='lote'>
                      <input class='form-control' formControlName='lote'>
                    </app-input-container>
                  </div>

                  <div class='form-group is-empty col-md-3'>
                    <label for='num_imovel'>Número</label>
                    <app-input-container errorMessage='Campo obrigatório' label='num_imovel'>
                      <input class='form-control' formControlName='num_imovel'>
                    </app-input-container>
                  </div>

                  <div class='form-group is-empty col-md-3'>
                    <label for='bairo'>bairo</label>
                    <app-input-container errorMessage='Campo obrigatório' label='bairo'>
                      <input class='form-control' formControlName='bairo'>
                    </app-input-container>
                  </div>

                  <div class='form-group is-empty col-md-3'>
                    <label for='cidade'>cidade</label>
                    <app-input-container errorMessage='Campo obrigatório' label='cidade'>
                      <input class='form-control' formControlName='cidade'>
                    </app-input-container>
                  </div>

                  <div class='form-group is-empty col-md-2'>
                    <label for='uf'>uf</label>
                    <app-input-container errorMessage='Campo obrigatório' label='uf'>
                      <input class='form-control' formControlName='uf'>
                    </app-input-container>
                  </div>
                  <div class='form-group is-empty col-md-2'>
                    <label for='cep'>cep</label>
                    <app-input-container errorMessage='Campo obrigatório' label='cep'>
                      <input class='form-control' formControlName='cep'>
                    </app-input-container>
                  </div>
                  <div class='form-group is-empty col-md-2'>
                    <label for='lat'>Latitude</label>
                    <app-input-container errorMessage='Campo obrigatório' label='lat'>
                      <input class='form-control' formControlName='lat'>
                    </app-input-container>
                  </div>
                  <div class='form-group is-empty col-md-2'>
                    <label for='log'>Longitude</label>
                    <app-input-container errorMessage='Campo obrigatório' label='log'>
                      <input class='form-control' formControlName='log'>
                    </app-input-container>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div>
            <button (click)='save(form.value)' [disabled]='!form.valid' class='btn btn-primary'>Salvar</button>
          </div>
        </form>

      </div>
    </div>
  </div>