<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='card'>
        <div class='card-header card-header-primary'>
          <h4 class='card-title '>Produto </h4>
          <p class='card-category'> Para alterar basta mudar os valores na linhas</p>
          <div class='add' routerLink='/produto/incluir'> <i class='material-icons add-icon' style='font-size:5em'>
              add_circle </i> </div>
        </div>
        <div class='card-body'>
          <div class='table-responsive'>
            <table class='table'>
              <thead class=' text-primary'>
                <tr>
                  <th><b>Imagem</b></th>
                  <th><b>Nome</b></th>
                  <th><b>Fabricante</b></th>
                  <th><b>Refêrencia</b></th>
                  <th><b>Preço de Venda</b></th>
                  <th><b>Ativo/Inativo</b></th>
                  <td width='90'><b>Opções</b></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let produto of produtos '>
                  <td> <img [src]="produto.img | imagemTipoArquivo :'show' :'produto'" class="img_grid" /> </td>
                  <td> <input (change)="update(produto)" type='text' #ds_produto [(ngModel)]='produto.ds_produto'class='inputGrid' value="{{produto?.ds_produto}}"></td>
                  <td> <input (change)="update(produto)" type='text' #fabricante [(ngModel)]='produto.fabricante'class='inputGrid' value="{{produto?.fabricante}}"></td>
                  <td> <input (change)="update(produto)" type='text' #nu_referencia [(ngModel)]='produto.nu_referencia'class='inputGrid' value="{{produto?.nu_referencia}}"></td>
                  <td>{{produto?.vl_custo | currency:'BRL'}}</td>
                  <td> <h6 [class.ativo]="produto.bo_ativo" [class.inativo]="!produto.bo_ativo"> {{produto?.bo_ativo |
                      BooleanMessage :'boativo' }}</h6> </td>

                  <td>
                    <i style='padding-right: 5px;cursor: pointer' class='fa fa-search' aria-hidden='true' routerLink='/produto/detalhar/{{produto?.id}}'></i>
                    <i style='padding-right: 5px;cursor: pointer' class='fa fa-pencil-square-o' aria-hidden='true'
                      routerLink='/produto/alterar/{{produto?.id}}'></i>
                    <i style='padding-right: 5px;cursor: pointer' class='fa fa-minus-square' aria-hidden='true' (click)='InativarProduto(produto)'></i>

                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf='loader' class='loader'></div>