<div class='row'>
    <div class='col-md-12'>
        <div class='card'>
            <div class='card-header card-header-primary'>
                <p class='card-category'>Editar</p>
                <h4 class='card-title'>Fornecedor</h4>
            </div>
            <div class='card-body'>
                <form [formGroup]='form' novalidate>
                    <div class='box-body'>
                        <div class='row'>
                            <input type='hidden' class='form-control' formControlName='id' placeholder=''>

                            <div class='col-md-12'>
                                <div class="row">
                                        <app-input-container errorMessage='Campo obrigatório' label='id'>
                                                <input class='form-control' formControlName='id' placeholder='' type="hidden">
                                            </app-input-container>
                                    <div class='form-group is-empty col-md-4'>
                                        <label for='nome_garagem'>Nome da Garagem</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='nome_garagem'>
                                            <input class='form-control' formControlName='nome_garagem' placeholder=''>
                                        </app-input-container>
                                    </div>
                                    <div class='form-group is-empty col-md-4'>
                                        <label for='logradouro'>Logradouro</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='logradouro'>
                                            <input class='form-control' formControlName='logradouro' placeholder=''>
                                        </app-input-container>
                                    </div>
                                    <div class='form-group is-empty col-md-4'>
                                        <label for='quadra'>Quadra</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='quadra'>
                                            <input class='form-control' formControlName='quadra'>
                                        </app-input-container>
                                    </div>
                                    <div class='form-group is-empty col-md-3'>
                                        <label for='lote'>Lote</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='lote'>
                                            <input class='form-control' formControlName='lote'>
                                        </app-input-container>
                                    </div>

                                    <div class='form-group is-empty col-md-3'>
                                        <label for='num_imovel'>Número</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='num_imovel'>
                                            <input class='form-control' formControlName='num_imovel'>
                                        </app-input-container>
                                    </div>

                                    <div class='form-group is-empty col-md-3'>
                                        <label for='bairo'>bairo</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='bairo'>
                                            <input class='form-control' formControlName='bairo'>
                                        </app-input-container>
                                    </div>

                                    <div class='form-group is-empty col-md-3'>
                                        <label for='cidade'>cidade</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='cidade'>
                                            <input class='form-control' formControlName='cidade'>
                                        </app-input-container>
                                    </div>

                                    <div class='form-group is-empty col-md-2'>
                                        <label for='uf'>uf</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='uf'>
                                            <input class='form-control' formControlName='uf'>
                                        </app-input-container>
                                    </div>
                                    <div class='form-group is-empty col-md-2'>
                                        <label for='cep'>cep</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='cep'>
                                            <input class='form-control' formControlName='cep'>
                                        </app-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div>
                        <button (click)='update(form.value)' [disabled]='!form.valid'
                            class='btn btn-primary'>Salvar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class='col-md-2'></div>
    </div>