<div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
        <div class='card'>
            <div class='card-header card-header-primary'>
                <h4 class='card-title'>Edit Profile</h4>
                <p class='card-category'>Complete your profile</p>
            </div>
            <div class='card-body'>
                <form [formGroup]='form' novalidate>
                    <div class='box-body'>
                        <div class='row'>

                            <input type='hidden' class='form-control' formControlName='id' placeholder=''>

                            <div class='form-group is-empty col-md-4'>
                                <label for='title'>title</label>
                                <app-input-container errorMessage='Campo obrigatório' label='Nome'>
                                    <input type='text' class='form-control' formControlName='title' placeholder=''>
                                </app-input-container>
                            </div>

                            <div class='form-group is-empty col-md-6'>
                                <label for='subtitle'>subtitle</label>
                                <app-input-container errorMessage='Campo obrigatório' label='Nome'>
                                    <input type='text' class='form-control' formControlName='subtitle' placeholder=''>
                                </app-input-container>
                            </div>
                            <div class='form-group is-empty col-md-2'>
                                <label for='ocupacao'>Ativo/Inativo</label>
                                <app-input-container errorMessage='Campo obrigatório' label='Nome'>
                                    <div class="onoffswitch">
                                        <input type="checkbox" formControlName='bo_ativo' class="onoffswitch-checkbox"
                                        id="myonoffswitch" checked>
                                        <label class="onoffswitch-label" for="myonoffswitch"></label>
                                    </div>
                                </app-input-container>
                            </div>
                            <div class='form-group is-empty col-md-6'>
                                <label for='value'>value</label>
                                <app-input-container errorMessage='Campo obrigatório' label='Nome'>
                                    <input type='text' class='form-control' formControlName='value' placeholder=''>
                                </app-input-container>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class='box-footer'>
                        <button (click)='update(form.value)' [disabled]='!form.valid' class='btn btn-primary'>Salvar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class='col-md-2'></div>
    </div>