<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='card'>
        <div class='card-header card-header-primary'>
          <h4 class='card-title '>vaga </h4>
          <p class='card-category'> Para alterar basta mudar os valores na linhas</p>
          <div class='add' routerLink='/vaga/incluir'> <i class='material-icons add-icon' style='font-size:5em'>
              add_circle </i> </div>
        </div>
        <div class='card-body'>
          <div class='table-responsive'>
            <table class='table'>
              <thead class=' text-primary'>
                <tr>
                  <th><b>Identificação</b></th>
                  <th><b>Razão social</b></th>
                  <th><b>CNPJ</b></th>
                  <th><b>Nome fantasia</b></th>
                  <th><b>Ativo/Inativo</b></th>
                  <td width='90'><b>Opções</b></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let vaga of vagas '>
                  <td>Nº {{vaga?.id}}</td>
                  <td> <input (change)="update(vaga)" type='text' #razao_social [(ngModel)]='vaga.razao_social'class='inputGrid' value="{{vaga?.razao_social}}"></td>
                  <td> <input (change)="update(vaga)" type='text' #cnpj [(ngModel)]='vaga.cnpj'class='inputGrid' value="{{vaga?.cnpj}}"></td>
                  <td> <input (change)="update(vaga)" type='text' #nome_fantasia [(ngModel)]='vaga.nome_fantasia'class='inputGrid' value="{{vaga?.nome_fantasia}}"></td>
                  <td> <h6 [class.ativo]="vaga.bo_ativo" [class.inativo]="!vaga.bo_ativo"> {{vaga?.bo_ativo |
                      BooleanMessage :'boativo' }}</h6> </td>
                  <td>
                    <i style='padding-right: 5px;cursor: pointer' class='fa fa-search' aria-hidden='true' routerLink='/vaga/detalhar/{{vaga?.id}}'></i>
                    <i style='padding-right: 5px;cursor: pointer' class='fa fa-pencil-square-o' aria-hidden='true'
                      routerLink='/vaga/alterar/{{vaga?.id}}'></i>
                    <i style='padding-right: 5px;cursor: pointer' class='fa fa-minus-square' aria-hidden='true' (click)='InativarProduto(vaga)'></i>

                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf='loader' class='loader'></div>