<div class='row'>
    <div class='col-md-12'>
        <div class='card'>
            <div class='card-header card-header-primary'>
                <h4 class='card-title'>Alterar</h4>
                <p class='card-category'>Cliente</p>
            </div>
            <div class='card-body'>
                <form [formGroup]='form' novalidate>
                    <div class='box-body'>
                        <div class='row'>

                            <input type='hidden' class='form-control' formControlName='id' placeholder=''>
                            <div class='col-md-2'>
                                <div class='col-md-4'>
                                    <input style="display: none" type="file" (change)="onFileChanged($event)"
                                        #fileInput formControlName='fileimg'>
                                    <div class="uploadArquivo" [style.background-image]="'url(' + img + ' )' | safeHtml: 'style' "></div>
                                    <button class="btn" (click)="fileInput.click()" style="width: 100px;height: 50px !important">Imagem
                                    </button>
                                </div>
                            </div>
                            <div class='col-md-10'>
                                <div class="row">
                                    <div class='form-group is-empty col-md-4'>
                                        <label for='nome'>Nome</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='Nome'>
                                            <input type='text' class='form-control' formControlName='nome' placeholder=''>
                                        </app-input-container>
                                    </div>
                                    <div class='form-group is-empty col-md-3'>
                                        <label for='cpf'>CPF</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='Nome'>
                                            <input type='text' class='form-control' formControlName='cpf' placeholder=''>
                                        </app-input-container>
                                    </div>
                                    <div class='form-group is-empty col-md-3'>
                                        <label for='telefone'>Telefone</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='Nome'>
                                            <input type='text' class='form-control' formControlName='telefone'
                                                placeholder=''>
                                        </app-input-container>
                                    </div>
                                    <div class='form-group is-empty col-md-2'>
                                        <label for='ocupacao'>Ativo/Inativo</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='Nome'>
                                            <div class="onoffswitch">
                                                <input type="checkbox" formControlName='bo_ativo' class="onoffswitch-checkbox"
                                                    id="myonoffswitch" checked>
                                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                                            </div>
                                        </app-input-container>
                                    </div>
                                    <div class='form-group is-empty col-md-4'>
                                        <label for='email'>Email</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='Nome'>
                                            <input type='text' class='form-control' formControlName='email' placeholder=''>
                                        </app-input-container>
                                    </div>
                                   <div class='form-group is-empty col-md-4'>
                                        <label for='color'>Cor</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='color'>
                                            <input type='text' class='form-control' formControlName='color'
                                                placeholder=''>
                                        </app-input-container>
                                    </div>

                                    <!-- <div class='form-group is-empty col-md-4'>
                                        <label for='dt_nascimento'>Data de nascimento</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='Nome'>
                                            <input type='text' class='form-control' formControlName='dt_nascimento'
                                                placeholder=''>
                                        </app-input-container>
                                    </div> -->
                                    <div class='form-group is-empty col-md-12'>
                                        <label for='endereco'>Endereço</label>
                                        <app-input-container errorMessage='Campo obrigatório' label='Nome'>
                                            <textarea type='text' rows="5" class='form-control' formControlName='endereco'
                                                placeholder=''></textarea>
                                        </app-input-container>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div>
            <!-- /.box-body -->

            <div class='box-footer'>
                <button (click)='update(form.value)' [disabled]='!form.valid' class='btn btn-primary'>Salvar</button>
            </div>
            </form>
        </div>
    </div>
</div>