.parcela{
    margin-top: 20px;
    margin-left: 15px;
}
.parcelaPagamento:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px rgb(143, 133, 133);
}
.parcelaPagamento{
    cursor: pointer; 
    box-shadow: 1px 1px 2px rgb(143, 133, 133);
}
.usuarioResponsavel{
    font:small-caps;
}