<div class='row'>
  <div class='col-md-12'>
    <div class='card'>
      <div class='card-header card-header-primary'>
        <p class='card-category'>Detalhe</p>
        <h4 class='card-title'>Saida N° {{id_saida}}</h4>
      </div>
      <div class='card-body'>
        <div class="row text-left">
          <div class='form-group col-md-3'>
            <label for='ds_saida'>Cliente</label>
            <p>{{cliente}}</p>
          </div>
          <div class='form-group col-md-2'>
            <label for='dividir'>Dividir</label>
            <p>{{dividir}}x</p>
          </div>
          <div class='form-group col-md-3'>
            <label for='pagamento'>Tipo de pagamento</label>
            <p>{{pagamento}}</p>
          </div>
          <div class='form-group  col-md-2'>
              <label for='id_saida'>Saida N° </label>
              <p>{{id_saida}}</p>
          </div>
          <div class='form-group  col-md-2'>
            <label for='pagamento'>Data da saida</label>
            <p>{{dt_saida | date: 'dd/MM/yyyy'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="saida_produtos.length > 0">
  <div class="card" *ngFor="let item of saida_produtos">
    <div class="card-body">
      <div class="row">
        <div class="col-md-1">
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
        </div>
        <div class="col-md-3">
          <b>Produto:</b>
          <pre>{{item.ds_produto}}</pre>
        </div>
        <div class="col-md-1">
          <b>Qtd:</b>
          <pre>{{item.qt_produto}}</pre>
        </div>
        <div class="col-md-2">
          <b>Desconto:</b>
          <pre>{{item.vl_desconto | currency :'BRL'}}</pre>
        </div>
        <div class="col-md-2">
          <b>Valor</b>
          <pre>{{item.vl_venda | currency :'BRL'}}</pre>
        </div>
        <div class="col-md-2">
          <b>Total:</b>
          <pre>{{(item.qt_produto * item.vl_venda) - item.vl_desconto | currency :'BRL'}}</pre>
        </div>
        <div class="col-md-1 mouse text-right" (click)="removeItem(item)">
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="saida_servicos.length > 0">
  <div class="card" *ngFor="let item of saida_servicos">
    <div class="card-body">
      <div class="row">
        <div class="col-md-1">
          <i class="fa fa-money" aria-hidden="true"></i>
        </div>
        <div class="col-md-3">
          <b>Serviço:</b>
          <pre>{{item.ds_servico}}</pre>
        </div>
        <div class="col-md-1">
          <b>Qtd:</b>
          <pre>{{item.qt_servico}}</pre>
        </div>
        <div class="col-md-2">
          <b>Desconto:</b>
          <pre>{{item.vl_desconto | currency :'BRL'}}</pre>
        </div>
        <div class="col-md-2">
          <b>Valor</b>
          <pre>{{item.vl_servico | currency :'BRL'}}</pre>
        </div>
        <div class="col-md-2">
          <b>Total:</b>
          <pre>{{(item.qt_servico * item.vl_servico) - item.vl_desconto | currency :'BRL'}}</pre>
        </div>
        <div class="col-md-1 text-right" (click)="removeItem(item)">
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top:20px">
  <div class="card" >
    <div class="col-md-12 card-body">
      <span><b>Total Compra: </b> {{total | currency :'BRL'}}</span><br />
      <span><b>Desconto: </b> {{desc | currency :'BRL'}}</span><br />
      <span><b>Total: </b> {{totalDesc | currency :'BRL'}}</span><br />
      <span><b>Valor da parcela: </b> {{parc | currency :'BRL'}}</span>
    </div>
  </div>
      <div class="col-md-12 usuarioResponsavel ">
        <small>Usuário responsável: {{nome_usuario}}</small>
      </div>
</div>