<div class='row'>
  <div class='col-md-12'>
    <div class='card'>
      <div class='card-header card-header-primary'>
        <h4 class='card-title'>Detalhar</h4>
        <p class='card-category'>Produto</p>
      </div>
      <div class='card-body'>
        <div class='box-body'>
          <div class='row'>
            <div class='col-md-2'>
              <div class="uploadArquivo" [style.background-image]="'url(' + img + ' )' | safeHtml: 'style' "></div>
            </div>
            <div class='col-md-10'>
              <div class="row">
                <div class='form-group is-empty col-md-3 detalharLeft'>
                  <label for='nome'>Descrição</label>
                  <p>{{produto?.ds_produto}}</p>
                </div>
                <div class='form-group is-empty col-md-3 detalharLeft'>
                  <label for='cpf'>Refêrencia</label>
                  <p>{{produto?.nu_referencia}}</p>
                </div>
                <div class='form-group is-empty col-md-3 detalharLeft'>
                  <label for='telefone'>Cores</label>
                  <p>{{produto?.cores}}</p>
                </div>
                <div class='form-group is-empty col-md-3 detalharLeft'>
                    <label for='telefone'>Ativo/Inativo</label>
                    <p [class.ativoLeft]="produto.bo_ativo" [class.inativoLeft]="!produto.bo_ativo">{{produto?.bo_ativo |
                      BooleanMessage :'boativo' }}</p>
                  </div>
                <div class='form-group is-empty col-md-3 detalharLeft'>
                  <label for='email'>Fornecedor</label>
                  <p>{{produto?.fornecedor}}</p>
                </div>
                <div class='form-group is-empty col-md-3 detalharLeft'>
                  <label for='pessoa_referencia'>Valor de Venda</label>
                  <p>{{produto?.vl_venda | currency:'BRL'}}</p>
                </div>
                <div class='form-group is-empty col-md-3 detalharLeft'>
                  <label for='pessoa_referencia'>Valor de Custo</label>
                  <p>{{produto?.vl_custo | currency:'BRL'}}</p>
                </div>
                <div class='form-group is-empty col-md-3 detalharLeft'>
                  <label for='pessoa_referencia'>Referência</label>
                  <p>{{produto?.nu_referencia}}</p>
                </div>
                <div class='form-group is-empty col-md-9 detalharLeft'>
                  <label for='endereco'>Observação</label>
                  <p>{{produto?.observacao}}</p>
                </div>
                <div class='form-group is-empty col-md-3 detalharLeft'>
                  <label for='dt_nascimento'>Data de Lançamento</label>
                  <p>{{produto?.dt_lancamento}}</p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-2'></div>
  </div>